.<footer class="bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-light">Sobre nosotros</h4>
                <p class="text-light">Somos una tienda en línea especializada en ropa de alta calidad para hombres y
                    mujeres.</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-light">Contacto</h4>
                <ul class="list-unstyled">
                    <li><mat-icon>phone</mat-icon>(+51) 123 456 789</li>
                    <li><mat-icon>mail_outline</mat-icon>info@mi-tienda.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-light">Síguenos en redes sociales</h4>
                <ul class="list-unstyled list-inline">
                    <li><a href="#"><mat-icon>account_circle</mat-icon></a>FACEBOOK</li>
                    <li><a href="#"><mat-icon>account_circle</mat-icon></a>TWITTER</li>
                    <li><a href="#"><mat-icon>account_circle</mat-icon></a>INSTAGRAM</li>
                </ul>
            </div>
        </div>
    </div>
</footer>