<<<<<<< HEAD
.products {
    max-width: 300px;
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap
}
=======
.example-card{
    max-width: 400px;
}
.products{
    display:flex;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
>>>>>>> 0523ac815a28041fc54a8f9715e409e4f91697f3
