<div class="container">
  <div class="row m-4">
    <div class="col-12">
      <form>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Seleccione categorias que buscar</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let arr of categories" (removed)="remove(arr)">
              {{arr}}
              <button matChipRemove [attr.aria-label]="'remove ' + arr">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Seleciona" #arrInput formControl="categotyControl" [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let arr of filteredCategories | async" [value]="arr">
              {{arr}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>

  <div class="row -4">
    <div class="col-12">
      <div class="products">
        <mat-card *ngFor="let card of arrProducts" >
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{card.name}}</mat-card-title>
              <mat-card-subtitle>{{card.price}}€</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <img mat-card-lg-image src="{{card.urlTo}}" alt="Imagen del producto">
          <mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="viewProduct(card.id)">Ver</button>
              <button mat-raised-button color="warn">Añadir al carrito</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>