footer {
  background-color: #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

h4 {
  font-weight: bold;
  margin-bottom: 20px;
}


ul.list-inline li {
  display: inline-block;
}
/* ====================================== */
/* FALTA RESPONSIVE */
/* ====================================== */

@media (max-width: 767px) {
  footer {
    text-align: center;
  }

  footer .col-md-4 {
    margin-bottom: 30px;
  }
}
