<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-light">Sobre nosotros</h4>
                <p class="text-light">Somos una tienda en línea especializada en ropa de alta calidad para hombres y
                    mujeres.</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-light">Contacto(NO HACER CLICK)</h4>
                <ul class="list-unstyled">
                    <li><a href="tel:914590050"
                            class="text-decoration-none text-light d-flex align-items-center"><mat-icon>phone</mat-icon>(+34)
                            914 590 050</a></li>
                    <li><a href="#"
                            class="text-decoration-none text-light d-flex align-items-center"><mat-icon>mail_outline</mat-icon>info@mi-tienda.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-light">Síguenos en redes sociales</h4>
                <ul class="list-unstyled list-inline">
                    <li>
                        <a href="#" class="text-decoration-none text-light d-flex align-items-center">
                            <mat-icon>account_circle</mat-icon>FACEBOOK</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-light d-flex align-items-center">
                            <mat-icon>account_circle</mat-icon>TWITTER</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-light d-flex align-items-center">
                            <mat-icon>account_circle</mat-icon>INSTAGRAM</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>