<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand text-light" href="/">
        <img src="../../../assets/images/logo-page.png" width="50" height="50" class="d-inline-block align-center"
            alt="">
        Mi aplicación</a>

    <ul class="navbar-nav mr-auto">
            <a class="nav-link text-light d-flex align-items-center" href="#" routerLink="/main">
                <mat-icon>apps</mat-icon>Inicio
            </a>
        <div *ngIf="!currentUserIsLogged()">                <a class="nav-link text-light d-flex align-items-center" routerLink="/login">
                    <mat-icon>account_circle</mat-icon>Iniciar sesion
                </a>
        </div>
        <div *ngIf="currentUserIsLogged()">
                <a class="nav-link text-light d-flex align-items-center" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>account_circle</mat-icon>Perfil
                </a>
                <mat-menu #menu="matMenu">
                    <div class="profileDisplay">
                        <div>
                            <mat-icon>account_circle</mat-icon>
                        </div>
                        <div>
                            <p> </p>
                            <span> </span>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-menu-item disabled>
                        <mat-icon>event_available</mat-icon>
                        <span>Mis pedidos</span>
                    </button>
                    <button mat-menu-item (click)="navigateToShoppingList()">
                        <mat-icon>shopping_cart</mat-icon>
                        <span>Mi carrito</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>highlight_off</mat-icon>
                        <span>Cerrar Sesion</span>
                    </button>
                </mat-menu>
        </div>
        <div *ngIf="isAdmin$ | async">
                <a class="nav-link text-light d-flex align-items-center" mat-icon-button
                    [matMenuTriggerFor]="adminMenu">
                    <mat-icon>supervised_user_circle</mat-icon>Administrar
                </a>
                <mat-menu #adminMenu="matMenu">
                    <div class="profileDisplay">
                        <div>
                            <mat-icon>account_circle</mat-icon>
                        </div>
                        <div>
                            <p></p>
                            <span> </span>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <button mat-menu-item disabled routerLink="/accounts">
                        <mat-icon>shopping_cart</mat-icon>
                        <span>Pedidos en tramite</span>
                    </button>
                    <button mat-menu-item routerLink="/adminViewPage">
                        <mat-icon>list_alt</mat-icon>
                        <span>Ver toda la informacion</span>
                    </button>
                    <button mat-menu-item routerLink="/adminAddProducts">
                        <mat-icon>library_add</mat-icon>
                        <span>Añadir nuevos productos</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>highlight_off</mat-icon>
                        <span>Cerrar Sesion</span>
                    </button>
                </mat-menu>
        </div>
    </ul>
</nav>