nav{
    background-color: rgb(0, 0, 0);
}

.profileDisplay{
    display:flex;
    flex-direction: row;
    font-size: small;
    justify-content: space-around;
    line-height: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
a{
    cursor: pointer;
}