form {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.example-form {
    min-width: 150px;
    max-width: 500px;
  }
  
  .full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
  .card {
    max-height: 540px;
    max-width: 700px;
    overflow-y: scroll;
  }
  
  .buttons{
    padding-bottom: 2em;
  }
  @media (max-width:367px) {
    .card {
      max-width: 367px;
      overflow-y: scroll;
    }
  }