<div class="container">
  <div class="row">
    <div class="col">
      <!-- <div *ngFor="let x of array"> -->
        <!-- Ya esta puesyto con flex -->
      <div class="products">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>aasas</mat-card-title>
              <mat-card-subtitle>234234€</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <img mat-card-xl-image src=#>
          <mat-card-content>
            <mat-card-actions>
              <button mat-button>Añadir al carrito</button>
              <button mat-button>Pues no se</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>