span {
  font-weight: bolder;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button {
  max-width: 300px;
}

.loginCard {
  max-width: 600px;
  margin: 3em;
  align-items: center;
}

.title {
  font-size: x-large;
  margin: 1em;
}

.full-size {
  width: 100%;
}