<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <h3 class="my-4">Login Form</h3>
                <mat-form-field>
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput placeholder="ejemplo123@email.com">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Contraseña de la cuenta</mat-label>
                    <input type="password" matInput>
                </mat-form-field>
                <div class="buttons">
                    <button mat-raised-button color="primary">Iniciar Sesion</button>
                    <button mat-button color="primary" (click)="createNewAccount()">Crear una cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>