/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-image: radial-gradient(#000000 0.75px, transparent 0.75px), radial-gradient(#000000 0.75px, transparent 0.75px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-color: #c7c7c7;
}